<footer class="footer">
  <div class="footer-container">
    <div class="footer-info">
      <img [src]="themeService.theme() === 'dark' ? 'assets/logo-black.webp' : 'assets/logo-white.webp'" alt="Igreja Ebenézer" class="footer-logo" />
      <h3 class="logo-ebenezer">Ebenézer</h3>
      <p class="tagline">Ministério Pedra de Ajuda</p>
      <p class="address">Igreja Evangélica Pentecostal</p>
    </div>

    <div class="footer-links">
      <h4>Navegação</h4>
      <a routerLink="/">Início</a>
      <a routerLink="/sobre">Sobre Nós</a>
      <a routerLink="/eventos">Eventos</a>
      <a routerLink="/contribuir">Dízimos e Ofertas</a>
    </div>

    <div class="footer-cultos">
      <h4>Cultos</h4>
      <p>Domingo: 18:00h</p>
      <!--<p>Quarta-feira: 19:30h</p>-->
    </div>

    <div class="footer-contato">
      <h4>Contato</h4>
      <a href="mailto:igreja.iepe@gmail.com">igreja.iepe&#64;gmail.com</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Igreja Ebenézer. Todos os direitos reservados.</p>
  </div>
</footer>